*{
    padding: 0;
    margin: 0;
}
.add-buttons{
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;
    height: fit-content;
    width: fit-content;
    border: 0px;
    border-radius: 10px;
}

.minus-button{
    margin: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border: 4px solid black;
}